:root {
	--font-size: 24px;
}

body {
	margin-top: 2em;
	font-size: var(--font-size);
	text-align: center;
}

body,
select {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input,
select {
	font-size: 0.8em;
}

input {
	font-family: monospace;
}

#main {
	display: inline-block;
	margin: 0 3vw;
	text-align: left;
}

#lead {
	display: block;
	text-wrap: auto;
}

#container {
	width: max-content;
	margin-top: 1em;
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 2em;
	row-gap: 0.2em;
	align-items: start;
}

.row {
	display: flex;
	flex-direction: row;
}

select {
	margin-left: 0.2em;
}

@media screen and (max-width: 720px) {
	:root {
		--font-size: 18px;
	}

	#container {
		row-gap: 1em;
	}

	.row {
		flex-direction: column;
	}

	select {
		margin-left: 0;
	}
}

.compute-radio {
	display: flex;
	align-items: center;
	gap: 4px;

	input[type="radio"] {
		margin-top: calc(var(--font-size) / 5);
	}
}

.datum {
	display: inline-block;

	.label-post {
		margin-right: 0.8em;

		&.pace-seconds {
			margin-right: 1ex;
		}
	}

	.label-pre {
		margin-left: 1em;
	}
}

.numeric-input {
	display: inline-block;
	text-align: right;
	margin-right: 0.4em;

	&.two-digits {
		max-width: 2em;
	}

	&.three-digits {
		max-width: 2.75em;
	}

	&.input-wide {
		max-width: 4em;
	}
}
