---
import Main from "../components/Main.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/png"
			href="/pace-calculator/favicon.png"
			title="Time icons created by Smashicons - Flaticon"
		/>
		<link rel="apple-touch-icon" href="/pace-calculator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="A simple pace calculator that, given two of time, distance, and pace, computes the third."
		/>
		<title>Pace Calculator</title>
	</head>
	<body>
		<Main />
	</body>
</html>

<style>
	:root {
		--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
			Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		--font-size: 24px;
		--container-row-gap: 0.3em;
		--container-column-gap: 2em;
		--variable-flex-direction: row;
		--variable-flex-align-items: center;
		--variable-multiple-flex-direction: column;
		--variable-multiple-row-gap: 0.3em;
		--select-margin-left: 0.2em;
		--time-not-seconds-max-width: 2em;
		--time-seconds-max-width: 2.75em;
	}

	@media screen and (max-width: 700px) {
		:root {
			--font-size: 18px;
			--container-row-gap: 2em;
			--container-column-gap: 1em;
			--variable-flex-direction: column;
			--variable-flex-align-items: flex-start;
			--variable-multiple-flex-direction: row;
			--select-margin-left: 0;
			--time-not-seconds-max-width: var(--time-seconds-max-width);
		}
	}

	@media screen and (max-width: 400px) {
		:root {
			--variable-multiple-flex-direction: column;
			--variable-multiple-row-gap: 1.4em;
		}
	}

	body {
		margin-top: 2em;
		margin-bottom: 4em;
		font-family: var(--font-family);
		font-size: var(--font-size);
		text-align: center;
	}
</style>
