---
import Main from "../components/Main.astro";
import { fontFamily, fontSize } from "../styles/css-variables";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pace Calculator</title>
	</head>
	<body>
		<Main />
	</body>
</html>

<style define:vars={{ fontFamily, fontSize }}>
	body {
		margin-top: 2em;
		font-family: var(--fontFamily);
		font-size: var(--fontSize);
		text-align: center;
	}
</style>
