<div><slot /></div>

<style>
	div {
		display: flex;
		flex-direction: var(--variable-multiple-flex-direction);
		row-gap: var(--variable-multiple-row-gap);
		align-items: flex-start;
		column-gap: 1em;
	}
</style>
